@charset "UTF-8";
@font-face {
  font-family: "fontello";
  src: url("../font/fontello.eot?93993548");
  src: url("../font/fontello.eot?93993548#iefix") format("embedded-opentype"), url("../font/fontello.woff2?93993548") format("woff2"), url("../font/fontello.woff?93993548") format("woff"), url("../font/fontello.ttf?93993548") format("truetype"), url("../font/fontello.svg?93993548#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?93993548#fontello') format('svg');
  }
}
*/
[class^=icon-]:before, [class*=" icon-"]:before {
  font-family: "fontello", sans-serif;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-phone:before {
  content: "";
}

/* '' */
.icon-cancel-circled:before {
  content: "";
}

/* '' */
.icon-menu:before {
  content: "";
}

/* '' */
html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #212121;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
}

input:focus, button:focus {
  outline-color: #f00;
}

p {
  margin-top: 0;
  text-align: left;
}

.red {
  background-color: #f00;
  color: #fff;
}

.wrapper {
  overflow: hidden;
}

.d-block {
  display: block;
}

.heading {
  display: inline-block;
  margin: 0;
  border-bottom: 1px solid currentColor;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}
@media (min-width: 576px) {
  .heading {
    font-size: 1.625em;
  }
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.33em;
  color: #fff;
  cursor: pointer;
  box-shadow: 2px 2px 2px #000;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}
.button:hover {
  box-shadow: none;
}
.button_orange {
  background: linear-gradient(#f2b600, #ff6632);
}
.button_orange:hover {
  background: linear-gradient(#f2b600, #f2b600);
}
.button_blue {
  background: linear-gradient(#0db6d5, #0087a5);
}
.button_blue:hover {
  background: linear-gradient(#0db6d5, #0db6d5);
}

.navigation {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px 0;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: left;
  font-size: 1.125em;
}
@supports (backdrop-filter: blur(2px)) {
  .navigation {
    backdrop-filter: blur(2px);
  }
}
.navigation__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation__burger, .navigation__phone {
  font-size: 1.5em;
  cursor: pointer;
  text-decoration: none;
}
.navigation__phone {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border: 1px solid currentColor;
  border-radius: 50%;
  text-align: center;
}
.navigation__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}
.navigation__list-item {
  display: block;
  padding: 3px 0 3px 1px;
}
.navigation__list-item a {
  text-decoration: none;
  transition: 0.3s color ease;
  position: relative;
}
.navigation__list-item a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: red;
  transition: 0.3s transform ease, 0.3s color ease;
  transform: scale(0);
}
.navigation__list-item a:hover {
  color: red;
}
.navigation__list-item a:hover:after {
  transform: scale(1);
}
@media (min-width: 768px) {
  .navigation__top {
    display: none;
  }
  .navigation__list {
    display: block !important;
    text-align: center;
  }
  .navigation__list-item {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
  }
}

.main {
  padding: 3.75em 0;
  background: url("../img/main__bg.jpg") no-repeat center top/cover;
  color: #fff;
}
.main__heading {
  display: block;
  margin: 7em 0 0;
  text-align: center;
  font-size: 3.65vw;
  line-height: 2.3;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px #000;
}
.main__subheading {
  display: inline-block;
  width: 100%;
  border: 1px solid currentColor;
  margin: 0;
  padding: 0.47em 0.45em;
  text-align: center;
  font-size: 4.3vw;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px #000;
}
.main__form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__form {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0;
  padding: 16px 10px;
  position: relative;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #000;
  background-color: rgba(255, 255, 255, 0.5);
}
.main__input, .main__button {
  width: 100%;
  margin: 5px 10px;
}
.main__input {
  position: relative;
  font-size: 0.8em;
}
.main__input input {
  min-width: 214px;
  min-height: 30px;
  width: 100%;
  padding: 0 2em 0 0.7em;
  border: none;
  border-radius: 5px;
  box-shadow: inset 1px 1px 2px #000;
}
.main__input:before {
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
  font-size: 1.3em;
  color: #999;
}
.main__button {
  min-width: 214px;
  margin: 5px 10px;
  padding: 6px 20px;
  cursor: pointer;
  box-shadow: 2px 2px 2px #000;
  border: none;
  border-radius: 5px;
  color: inherit;
  background: linear-gradient(#ff0000, #c20000);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}
.main__button:hover {
  background: linear-gradient(#ff0000, #ff0000);
  box-shadow: none;
}
.main__note {
  margin-top: 10px;
  text-align: center;
  font-size: 0.833em;
}
.main__note:before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
}
@media (min-width: 576px) {
  .main__heading {
    font-size: 1.1625em;
  }
  .main__subheading {
    font-size: 1.5em;
  }
}
@media (min-width: 768px) {
  .main {
    background-size: cover;
    background-attachment: fixed;
  }
  .main__form-wrapper {
    display: inline-flex;
  }
  .main__form {
    flex-direction: row;
    align-self: flex-start;
  }
  .main__form:before {
    content: "";
    position: absolute;
    left: calc(100% - 120px);
    top: -260px;
    width: 347px;
    height: 449px;
    background: url("../img/karatist1.png") no-repeat center center/contain;
    pointer-events: none;
  }
  .main__form:after {
    content: "";
    position: absolute;
    left: calc(100% + 90px);
    top: -175px;
    width: 211px;
    height: 426px;
    background: url("../img/karatist2.png") no-repeat center center/contain;
    pointer-events: none;
  }
  .main__heading {
    text-align: left;
  }
  .main__subheading {
    width: auto;
  }
}
@media (min-width: 1200px) {
  .main {
    background-size: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo {
  font-size: 3.3vw;
}
.header__right {
  display: none;
}
.header__free-call {
  display: block;
  font-size: 0.8em;
}
.header__phone {
  font-size: 1.9em;
  text-decoration: none;
  transition: 0.3s color ease;
}
.header__phone:hover {
  color: red;
}
.header__callback {
  position: relative;
  margin-top: 3px;
  font-size: 1.16em;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid currentColor;
}
.header__callback:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: red;
  transition: 0.3s transform ease;
  transform: scale(0);
}
.header__callback:hover:after {
  transform: scale(1);
}
@media (min-width: 576px) {
  .header {
    justify-content: space-between;
  }
  .header__logo {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  .header__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.logo {
  display: flex;
  align-items: center;
}
.logo__img {
  margin-right: 1.25em;
}
.logo__heading {
  text-align: center;
  font-size: 1.35em;
  font-weight: bold;
  text-shadow: 2px 2px 1px #000;
  text-transform: uppercase;
}
.logo__subheading {
  display: block;
  font-size: 0.74em;
  font-weight: normal;
  text-transform: none;
}

.about {
  padding: 35px 0 25px;
  background-color: #ebebeb;
  text-align: center;
}
.about__heading {
  margin-bottom: 20px;
}
.about__img {
  margin: 0 auto 20px;
}
.about__btn {
  margin-top: 15px;
}
@media (min-width: 992px) {
  .about__btn {
    margin-top: 50px;
  }
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
}
.feature-list__item {
  min-width: 210px;
  max-width: 240px;
  flex-basis: 0;
  flex-grow: 1;
  margin: 40px 20px 0;
}
.feature-list__img {
  margin: 0 auto 10px;
}

.results {
  padding: 35px 0 45px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
