@import "fontello";

html {
  font-size: 16px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #212121;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
}

input:focus, button:focus, a:focus {
  outline-color: #f00;
}

p {
  margin-top: 0;
  text-align: left;
}

.red {
  background-color: #f00;
  color: #fff;
}

.uppercase {
  text-transform: uppercase;
}

.wrapper {
  overflow: hidden;
}

.d-block {
  display: block;
}

.slick-slide {
  &:focus {
    outline: none;
  }
}

.slick-nav {
  display: inline-block;
  margin: 20px 0;
  position: relative;
}

.slick-dots {
  display: flex;
  margin: 0;
  padding: 0 60px;
  li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 4px;
    background: currentColor;
    border-radius: 50%;
    &.slick-active {
      transform: scale(1.4);
    }
  }
  button {
    display: block;
    width: 13px;
    height: 13px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
    background: transparent;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}

.slick-arrow {
  padding: 0;
  border: 0;
  width: 18px;
  height: 22px;
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
  color: currentColor;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 11px 0 11px 18px;
    border-color: transparent transparent transparent currentColor;
  }
  &.slick-prev {
    left: 0;
    transform: translateY(-50%) rotate(180deg);
    &:before {
      left: 0;
    }
  }
  &.slick-next {
    right: 0;
    &:before {
      right: 0;
    }
  }
}

.heading {
  display: inline-block;
  margin: 0;
  border-bottom: 1px solid currentColor;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  @media (min-width: 576px) {
    font-size: 1.625em;
  }
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.33em;
  color: #fff;
  cursor: pointer;
  box-shadow: 2px 2px 2px #000;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    box-shadow: none;
  }
  &_orange {
    background: linear-gradient(#f2b600,#ff6632);
    &:hover {
      background: linear-gradient(#f2b600,#f2b600);
    }
  }
  &_blue {
    background: linear-gradient(#0db6d5,#0087a5);
    &:hover {
      background: linear-gradient(#0db6d5,#0db6d5);
    }
  }
  &_red {
    background: linear-gradient(#ff0000,#c20000);
    &:hover {
      background: linear-gradient(#ff0000,#ff0000);
    }
  }
}

.navigation {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px 0;
  background-color: rgba(255,255,255,0.6);
  box-shadow: 0 2px 3px #333;
  text-align: left;
  font-size: 1.125em;
  @supports (backdrop-filter: blur(2px)) {
    backdrop-filter: blur(2px);
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__burger, &__phone {
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
  }

  &__phone {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border: 1px solid currentColor;
    border-radius: 50%;
    text-align: center;
  }

  &__list {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    &-item {
      display: block;
      padding: 3px 0 3px 1px;
      a {
        text-decoration: none;
        transition: .3s color ease;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 1px;
          background-color: red;
          transition: .3s transform ease, .3s color ease;
          transform: scale(0);
        }
        &:hover {
          color: red;
          &:after {
            transform: scale(1);
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
    &__top {
      display: none;
    }
    &__list {
      display: block !important;
      text-align: center;
      &-item {
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px;
      }
    }
  }
}

.main {
  padding: 3.75em 0;
  background: url("../img/main__bg.jpg") no-repeat center top / cover;
  color: #fff;
  &__heading {
    display: block;
    margin: 7em 0 0;
    text-align: center;
    font-size: 3.65vw;
    line-height: 2.3;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px #000;
  }
  &__subheading {
    display: inline-block;
    width: 100%;
    border: 1px solid currentColor;
    margin: 0;
    padding: .47em .45em;
    text-align: center;
    font-size: 4.3vw;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px #000;
  }

  @media (min-width: 576px) {
    &__heading {
      font-size: 1.1625em;
    }
    &__subheading {
      font-size: 1.5em;
    }
  }
  @media (min-width: 768px) {
    background-size: cover;
    background-attachment: fixed;
    &__form {
      &:before {
        content: '';
        position: absolute;
        left: calc(100% - 120px);
        top: -260px;
        width: 347px;
        height: 449px;
        background: url("../img/karatist1.png") no-repeat center center / contain;
        pointer-events: none;
      }
      &:after {
        content: '';
        position: absolute;
        left: calc(100% + 90px);
        top: -175px;
        width: 211px;
        height: 426px;
        background: url("../img/karatist2.png") no-repeat center center / contain;
        pointer-events: none;
      }
    }
    &__heading {
      text-align: left;
    }
    &__subheading {
      width: auto;
    }
  }
  @media (min-width: 1200px) {
    background-size: 100%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__inner {
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0;
    padding: 16px 10px;
    position: relative;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #000;
    background-color: rgba(255, 255, 255, 0.5);
  }
  &__input, &__button {
    width: 100%;
    margin: 5px 10px;
  }
  &__input {
    position: relative;
    font-size: .8em;
    input {
      min-width: 214px;
      min-height: 30px;
      width: 100%;
      padding: 0 2em 0 .7em;
      border: none;
      border-radius: 5px;
      box-shadow: inset 1px 1px 2px #000;
    }
    &:before {
      position: absolute;
      top: 50%;
      right: 7px;
      transform: translateY(-50%);
      font-size: 1.3em;
      color: #999;
    }
  }
  &__button {
    min-width: 214px;
    margin: 5px 10px;
    padding: 6px 20px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #000;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: linear-gradient(#ff0000,#c20000);
    transition: background 0.3s ease, box-shadow 0.3s ease;
    &:hover {
      background: linear-gradient(#ff0000,#ff0000);
      box-shadow: none;
    }
  }
  &__note {
    margin-top: 10px;
    text-align: center;
    font-size: .833em;
    &:before {
      display: inline-block;
      vertical-align: middle;
      margin-right: .5em;
    }
  }
  @media (min-width: 768px) {
    display: inline-flex;
    &__inner {
      flex-direction: row;
      align-self: flex-start;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  &__logo {
    font-size: 3.3vw;
  }
  &__right {
    display: none;
  }
  &__free-call {
    display: block;
    font-size: .8em;
  }
  &__phone {
    font-size: 1.9em;
    text-decoration: none;
    transition: .3s color ease;
    &:hover {
      color: red;
    }
  }
  &__callback {
    position: relative;
    margin-top: 3px;
    font-size: 1.16em;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid currentColor;
    &:after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: red;
      transition: .3s transform ease;
      transform: scale(0);
    }
    &:hover:after {
      transform: scale(1);
    }
  }

  @media(min-width: 576px) {
    justify-content: space-between;
    &__logo {
      font-size: 1em;
    }
  }

  @media(min-width: 768px) {
    &__right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  &__img {
    margin-right: 1.25em;
  }
  &__heading {
    text-align: center;
    font-size: 1.35em;
    font-weight: bold;
    text-shadow: 2px 2px 1px #000;
    text-transform: uppercase;
  }
  &__subheading {
    display: block;
    font-size: 0.74em;
    font-weight: normal;
    text-transform: none;
  }
}

.about {
  padding: 35px 0 25px;
  background-color: #ebebeb;
  text-align: center;
  &__heading {
    margin-bottom: 20px;
  }
  &__img {
    margin: 0 auto 20px;
  }
  &__btn {
    margin-top: 15px;
  }
  @media(min-width: 992px) {
    &__btn {
      margin-top: 50px;
    }
  }
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
  text-align: center;
  &__item {
    //min-width: 210px;
    //max-width: 240px;
    flex-basis: 0;
    flex-grow: 1;
    margin: 40px 20px 0;
  }
  &__img {
    margin: 0 auto 10px;
  }
}

.results {
  padding: 35px 0 45px;
  text-align: center;
  &__btn {
    margin-top: 15px;
  }
  .slick-nav {
    color: #0db6d5;
  }
  @media(min-width: 992px) {
    &__btn {
      margin-top: 30px;
    }
  }
}

.reasons {
  padding: 35px 0 45px;
  background-color: #eee;
  text-align: center;
  &__btn {
    margin-top: 15px;
  }
  .slick-nav {
    color: #f00;
  }
  @media(min-width: 992px) {
    &__btn {
      margin-top: 30px;
    }
  }
}

.advantages {
  padding: 35px 0 45px;
  text-align: center;
  &__list {
    display: flex;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    text-align: left;
    &-item {
      width: 100%;
      min-height: 224px;
      margin: 10px;
      padding: 30px 20px;
      position: relative;
      overflow: hidden;
      color: #fff;
      transition: transform .3s ease, box-shadow .3s ease;
    }
    &-img {
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      max-width: initial;
      transform: translate(-50%, -50%);
    }
  }
  @media (min-width: 992px) {
    &__list {
      &-item {
        &:hover {
          transform: scale(1.15);
          box-shadow: 3px 3px 10px #000;
          z-index: 1;
        }
        width: calc((100% / 3) - 20px) !important;
      }
    }
    .slick-list {
      overflow: visible;
    }
    .slick-track {
      display: flex;
      flex-wrap: wrap;
      width: auto !important;
    }
    .slick-nav {
      display: none;
    }
  }
}

.reviews {
  position: relative;
  padding: 35px 0 45px;
  background-color: #ececec;
  text-align: center;
  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    top: -7px;
    right: 0;
    height: 40px;
    background-image: linear-gradient(319deg, #ececec 16px, transparent 17px), linear-gradient(39deg, #ececec 16px, transparent 17px);
    background-size: 14px 23px;
    background-repeat: repeat-x;
  }
  &:after {
    top: initial;
    bottom: -7px;
    transform: rotate(180deg);
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px 0 0;
    padding: 0;
    list-style: none;
    &-item {
      max-height: 340px;
      margin: 10px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 10px;
        box-shadow: inset 0 0 10px #000;
      }
    }
  }
  &__link {
    display: block;
    min-height: 340px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    position: relative;
    transition: transform .3s ease;
    &:hover {
      transform: translateY(-15px);
    }
  }
  &__photo {
    margin: 0 auto;
  }
  &__img-wrapper {
    min-height: 140px;
  }
  &__abstract {
    margin: 0;
    text-align: center;
  }
  &__subheading {
    margin: 40px 0 0;
    text-align: center;
    font-size: 1.16625em;
    font-weight: normal;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #aaa;
    &-highlight {
      display: block;
      margin-top: .6em;
      font-size: 1.71em;
      font-weight: bold;
      color: #f00;
    }
  }
  &__form {
    background-color: rgba(0,0,0,0.5);
  }
  .slick-nav {
    color: #f00;
  }
  @media(min-width: 992px) {
    &__list {
      &-item {
        width: auto !important;
        max-width: 220px;
      }
    }
    .slick-list {
      overflow: visible;
    }
    .slick-nav {
      display: none;
    }
  }
}

.modal-review {
  &.fancybox-content {
    display: inline-flex !important;
  }
  flex-direction: column;
  width: 940px;
  border-radius: 10px;
  &__left {
    flex-shrink: 0;
    text-align: center;
  }
  &__right {
    padding-left: 20px;
  }
  &__caption {
    text-align: right;
    font-style: italic;

  }

  &__img {
    margin: 0 auto 25px;
  }
  @media(min-width: 768px) {
    flex-direction: row;
    &__left {
      max-width: 180px;
    }
  }
}

.schedule {
  padding: 35px 0 45px;
  text-align: center;
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
  }
  &__card {
    max-width: 287px;
    margin: 25px 25px 0;
    text-align: center;
    &-heading {
      margin: 0;
      padding: 7px;
      background-color: #087d9b;
      font-size: 1.625em;
      font-weight: normal;
      color: #fff;
      text-transform: uppercase;
    }
    &-img-wrapper {
      background-color: #087d9b;
    }
    &-note {
      margin: 5px 0 0;
      padding: 6px 20px 6px 5px;
      font-size: 1.1em;
      color: #fff;
      background-color: #bbdb52;
      position: relative;
      overflow: hidden;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 32px;
        background-image: linear-gradient(225deg, #fff 16px, transparent 16px),linear-gradient(-45deg, #fff 16px, transparent 16px);
        pointer-events: none;
      }
    }
    &-description {
      padding: 10px;
      background-color: #eee;
    }
    &-details {
      padding: 3px 0;
      text-align: right;
      color: #7f7f7f;
    }
    &-btn {
      margin-top: 20px;
    }
  }
}

.banner {
  position: relative;
  padding: 83px 0;
  background-color: #c60103;
  text-align: center;
  color: #fff;
  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    top: -7px;
    right: 0;
    height: 40px;
    background-image: linear-gradient(319deg, #c60103 16px, transparent 17px), linear-gradient(39deg, #c60103 16px, transparent 17px);
    background-size: 14px 23px;
    background-repeat: repeat-x;
  }
  &:after {
    top: initial;
    bottom: -7px;
    transform: rotate(180deg);
  }
  &__heading {
    display: inline-block;
    max-width: 320px;
    position: relative;
    margin: 0;
    border: none;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: normal;
    &:before, &:after {
      content: '';
      width: 2.325em;
      height: 3.025em;
      position: absolute;
      right: calc(100% - 2.55em);
      top: 50%;
      background: url("../img/left.png") no-repeat center center / contain;
      transform: translateY(-50%);
      pointer-events: none;
    }
    &:after {
      transform: translateY(-50%) scale(-1, 1);
      right: initial;
      left: calc(100% - 2.55em);
    }
  }
  &__second-row {
    display: block;
    font-size: .625em;
  }
  @media (min-width: 575px) {
    &__heading {
      max-width: initial;
      font-size: 2.5em;
    }
  }
  @media (min-width: 768px) {
    &__heading {
      &:before {
        right: calc(100% - .55em);
      }
      &:after {
        left: calc(100% - .55em);
      }
    }
  }
}